{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static "css/home.css" %} ">
    <link rel="stylesheet" href=" {% static "css/all.min.css" %} ">
    <link rel="stylesheet" href=" {% static "css/fontawesome.min.css" %} ">
    <title>Home page</title>
    
</head>
<body>
    <div class="maincon" style="width: 100%;">
        <div class="leftcon" >
            <div class="status">
                <img src=" {% static "images/santalogo.png" %} " alt="">
                <h1>Santa Soft </h1>
                <span>for programming services</span>
                <div class="links">
                    <div style="width: 30%;align-items: center;justify-content: center;display: flex;flex-direction: column;">
                        <a href="{% url "sales" %}">
                            <div class="card">
                                <i class="fa-solid fa-file-export"></i>
                                <h2>بيع</h2>
                            </div>
                        </a>
                        <a href="{% url "tempsales" %}">
                            <div class="card">
                                <i class="fa-solid fa-file-export"></i>
                                <h2>الاجل</h2>
                            </div>
                        </a>
                        <a href="{% url "loses" %}">
                            <div class="card">
                                <i class="fa-solid fa-hand-holding-dollar"></i>
                                <h2>المصروفات</h2>
                            </div>
                        </a>
                        <a href="{% url "daycome" %}">
                            <div class="card">
                                <i class="fa-solid fa-user-tie"></i>
                                <h2>تقفيل اليوم</h2>
                            </div>
                        </a>
                    </div>
                    <div style="width: 30%;align-items: center;justify-content: center;display: flex;flex-direction: column;">
                        <a href="{% url "profits" %}">
                            <div class="card">
                                <i class="fa-solid fa-file-export"></i>
                                <h2>المبيعات</h2>
                            </div>
                        </a>
                        <a href="{% url "shorts" %}">
                            <div class="card">
                                <i class="fa-solid fa-user-tie"></i>
                                <h2>النواقص</h2>
                            </div>
                        </a>
                        <a href="{% url "items" %}">
                            <div class="card">
                                <i class="fa-solid fa-file-export"></i>
                                <h2>اضافة بضاعة</h2>
                            </div>
                        </a>
                        <a href="{% url "kinds" %}">
                            <div class="card">
                                <i class="fa-solid fa-user-tie"></i>
                                <h2>الانواع</h2>
                            </div>
                        </a>
                    </div>
                    <div style="width: 30%;align-items: center;justify-content: center;display: flex;flex-direction: column;">
                        <a href="{% url "clients" %}">
                            <div class="card">
                                <i class="fa-solid fa-users"></i>
                                <h2>العملاء</h2>
                            </div>
                        </a>
                        <a href="{% url "safe" %}">
                            <div class="card">
                                <i class="fa-solid fa-user-tie"></i>
                                <h2>الخزنة</h2>
                            </div>
                        </a>
                        <a href="{% url "suppliers" %}">
                            <div class="card">
                                <i class="fa-solid fa-user-tie"></i>
                                <h2>الموردين</h2>
                            </div>
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>